<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Codecool" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Cart</title>

  <!-- Bootstrap components -->
  <!-- Latest compiled and minified Jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!--Latest compiled and minified Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- End of Bootstrap components -->

  <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="jumbotron text-center">
  <h1>Cart</h1>
</div>

<div class="container">


  <table class="table table-striped" th:each="prod : ${cart}" >
    <thead>
    <tr>
      <th class="cart-header">   Name</th>
      <th id="quantity-head" class="cart-header">Quantity</th>
      <th class="cart-header"></th>
      <th class="cart-header">   Unit price</th>
      <th class="cart-header">   Total price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:id="item+${prod[4]}">
      <td th:text="${prod[0]}"></td>
      <td id="quantity" th:text="${prod[1]}"></td>
      <td><button class="btn btn-success cart-review"  th:id="add+${prod[4]}"  >+</button><button th:id="remove+${prod[4]}" class="btn btn-success cart-review"  >-</button></td>
      <td th:text="${prod[2]}"></td>
      <td th:text="${prod[3]}"></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container">
  <button id="confirm" class="btn btn-primary btn-sm"><a href="/order/payment">ORDER </a></button>
</div>
<div th:replace="footer.html :: copy"></div>

</body>
</html>