<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="header">
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>The Chair Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <script src="/static/js/cart.js" defer></script>
        <script src="/static/js/payment.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    </div>
        </head>


<body>

<div class="jumbotron text-center">
    <h1>The Chair Shop a'la Codecool</h1>
</div>

<div class="cart" th:attr="data-count=${cart.getItemCount()}">
    <a href="/cart/review"><img src="/static/img/cart.jpg"  style="width:42px;height:42px;"></a>
    <p id="cart-counter" th:text="${cart.getItemCount()}"></p>
</div>

<div class="container">

    <header>
        <span>Categories: </span>
        <span><a href="\?category=metalChairs">Metal chairs</a></span>
        <span><a href="\?category=woodChairs">Wooden Chairs</a></span>
        <span><a href="\?category=otherChairs">Other type of chairs</a></span>
        <strong><span><a href="\?category=all">All categories</a></span></strong>
    </header>

    <header>
            <span>Suppliers: </span>
            <span><a href="\?supplier=chairFactory">The Chair Factory</a></span>
            <span><a href="\?supplier=ecoChair">Eco Chairs Limited</a></span>
            <span><a href="\?supplier=yellowChairs">Yellow Chairs Company</a></span>
            <strong><span><a href="\?category=all">All suppliers</a></span></strong>
    </header>
    <br>

    <div id="chosen" class="card">
        <strong th:text="${category.name}">Category Title</strong>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/chair_' + ${prod.id} + '.jpeg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                    <strong><p class="card-text" th:text="${prod.supplier.name}">Product supplier </p></strong>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success add-to-cart"  th:id="${prod.getId()}">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="footer.html :: copy"></div>

</body>
</html>